:root {
    /* colors */
    --clr-primary: #e7e7e7;
    --clr-secondary: #2c2c2c;
    --clr-terciary: #4f8fbd;
    --clr-nt: white;

    /* fonts */
    --ff-primary: 'Roboto', sans-serif;
}

/* Reset CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* Index */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 100dvh;
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    color: var(--clr-secondary);
    background-color: var(--clr-nt);

}

.navbar {
    background-color: var(--clr-primary);
}

.nav-container {
    width: 100%;
    padding: 0 1rem;
}

.navbar-nav {
    display: flex;
    gap: clamp(1rem, 5vw, 2rem);
    width: 100%;
    justify-content: center;
}

.nav-link {
    color: var(--clr-terciary);
}


main {
    justify-content: center;
    margin-top: 7rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

main .titulo {
    font-size: clamp(1.5rem, 6vw, 2rem);
    color: var(--clr-terciary);
    font-weight: 700;
    text-align: center;
    margin-bottom:2rem;
}



section #contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paleta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paleta {
    width: clamp(200px, 80vw, 600px);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 3rem;
    background-color: var(--clr-primary);
}

footer a {
    color: var(--clr-terciary);
    text-decoration: none;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

